* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.display {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.display input {
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  background: #333;
  color: #fff;
  border-radius: 5px 5px 0 0;
  text-align: right;
}

.resultt {
  background: #222;
  color: #4caf50;
  font-size: 1.2rem;
  padding: 10px;
  text-align: right;
  border-radius: 0 0 5px 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: #2a2a2a;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #444;
}

button.equal {
  background: #4caf50;
  color: #fff;
}


@media (max-width: 480px) {
  .calculator {
    max-width: 95vw;
  }

  button {
    padding: 15px;
    font-size: 0.9rem;
  }
}
